@model FirstShop.ViewModels.HomeViewModel
@using FirstShop.Inf
@{ 
    ViewBag.Title = "Praktyczne kursy";
}

<html>
<head>

</head>
<body>

    <nav class="kategorieHorizontal">
        <ul>
            @foreach (var kategoria in Model.Kategorie)
            {


        
            <li>
                <a href="@Url.Action("List", "Kursy", new { nazwaKategori = kategoria.NazwaKategorii.ToLower() })" 
                   style="background-image: url(@Url.KategorieIkonySciezka(kategoria.NazwaPlikuIkony)); ">
                    @kategoria.NazwaKategorii
                </a>
            </li>
            }
        </ul> 
        <a href="link">
            <img id="baner" src="../Content/Images/baner.png" />
        </a>
    </nav>

    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekcss.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekhtml.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekjquery.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section>
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekaspnet.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekcsharp.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/koszyk.png" />
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Kursy/obrazekmvc.png" />
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    
</body>
</html>
